.content {
    margin: 0;
    padding: 0;
}
.two-columns-layout-content {
    margin: 56px 0px 100px 240px;
}
.two-columns-layout-content > div {
    padding: 30px 50px;
}
.two-columns-layout-content > div > .content-top-section > .search-box {
    position: absolute;
    right: 50px;
    top: 75px;
}
.two-columns-layout-content > div > .spinner-container {
    position: absolute;
    left: 50%;
    top: calc(50% - 40px);
}
.two-columns-layout-content > div > .spinner-container > .btn {
    color: #333 !important;
    cursor: default;
    font-size: 20px;
}
.two-columns-layout-content > div > .spinner-container > .btn > .spinner-border {
    width: 50px;
    height: 50px;
}
.two-columns-layout-content > div > .spinner-container > .btn > span:last-of-type {
    vertical-align: top;
    position: relative;
    top: 12px;
    margin-left: 10px;
}
