.content > .error-container {
    width: 100%;
    text-align: center;
    color: #999;
}
.content > .error-container > div:first-child {
    font-size: 25px;
    margin-top: 250px;
}
.content > .error-container > div:nth-child(2) {
    font-size: 50px;
}
