.filters {
    position: relative;
}
.filters > span {
    margin-right: 7px;
}
.filters > .filter-item {
    text-decoration: none;
    margin-right: 7px;
    position: relative;
    color: #666;
}
.filters > .clear-filters {
    color: #0056b3;
    display: none;
}
.filters > .list-counter {
    float: right;
    display: none;
}
.filters > .filter-item > .filter-applied {
    color: #007bff;
}
.filters > .filter-item > span {
    color: #999;
}
.filters > .filter-item > i {
    position: relative;
    top: 1px;
}
.filters > .filter-item > .filter-list {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    left: 0;
    box-shadow: 0 2px 5px 0px rgb(0, 0, 0, 0.14);
    padding: 10px 0 0 0;
    display: none;
}
.filters > .filter-item > .filter-list > .filter-value-item {
    padding: 2px 30px 2px 10px;
    white-space:nowrap
}
.filters > .filter-item > .filter-list > .filter-value-item:hover {
    background-color: #efefef;
}
.filters > .filter-item > .filter-list > .filter-value-item:last-of-type {
    margin-top: 7px;
    border-top: solid 1px #efefef;
    color: #999;
}
.issue-type-icon {
    color: #fff;
    font-size: 8px;
    width: 16px;
    height: 16px;
    text-align: center;
    padding: 4px 0px;
    margin-right: 5px;
    position: relative;
    top: -2px;
}
.type-bug {
    background-color: #e5493a;
}
.type-task {
    background-color: #4bade8;
}
.type-story {
    background-color: #63ba3c;
}
.type-epic {
    background-color: #904ee2;
}
.type-theme {
    background-color: #e24da0;
}
.priority-icon {
    color: #fff;
    width: 16px;
    height: 16px;
    text-align: center;
    margin-right: 5px;
}
.priority-highest {
    color: #ce0000;
}
.priority-high {
    color: #ea4444;
}
.priority-medium {
    color: #ea7d24;
}
.priority-low {
    color: #2c8837;
}
.priority-lowest {
    color: #55a557;
}
.badge-backlog {
    color: #e06666;
    border: solid 1px #dedede;
    background-color: #fff;
}
.badge-todo{
    color: #172b4d;
    background-color: #dfe1e6;
}
.badge-inprogress {
    color: #fff;
    background-color: #0052cc;
}
.badge-done {
    color: #fff;
    background-color: #00875a;
}
.issue-item {
    margin: 5px 0;
    padding: 7px 8px 5px;
    border: solid 1px #dedede;
    width: 100%;
    position: relative;
    background-color: #fff;
    cursor: pointer;
}
.issue-item:hover {
    background-color: #efefef;
}
.issue-item > .issue-item-top-section > .issue-item-id {
    float: left;
    margin-bottom: 4px;
    font-size: 13px;
    color: #666;
}
.issue-item > .issue-item-top-section > .issue-item-status {
    float: right;
    position: relative;
    top: 2px;
}
.issue-item > .issue-item-bottom-section > .issue-item-title {
    float: left;
    font-weight: 700;
}
.issue-item > .issue-item-bottom-section > .issue-item-assignee {
    float: right;
    font-size: 13px;
    color: #666;
}
.pagination-container {
    display: inline-block;
}
.page-counter {
    float: right;
    margin-top: 5px;
    display: none;
}
.issue-container {
    display: none;
}
.issue-container > .issue-details > .issue-id-container > div {
    font-weight: 700;
}
.issue-container hr {
    margin: 0 0 10px 0;
    border: 0;
    border-top: solid 1px #ddd;
}
.issue-container > .issue-details > div > label {
    margin: 8px 0 2px 0;
}
.issue-container > .issue-details > .issue-title-container > .issue-title-counter {
    float: right;
    position: relative;
    top: 10px;
    font-size: 12px;
    color: #999;
}
.issue-container > .issue-details > .issue-description-container > .issue-description {
    height: 150px;
}
.issue-container > .issue-details > .issue-type-container, .issue-container > .issue-details > .issue-priority-container {
    position: relative;
}
.issue-container > .issue-details > .issue-type-container > input, .issue-container > .issue-details > .issue-priority-container > input {
    width: 100%;
}
.issue-container > .issue-details > .issue-type-container > .issue-type-selected-item, .issue-container > .issue-details > .issue-priority-container > .issue-priority-selected-item {
    position: absolute;
    top: 39px;
    left: 10px;
    cursor: pointer;
}
.issue-container > .issue-details > .issue-type-container > .issue-type-list, .issue-container > .issue-details > .issue-priority-container > .issue-priority-list {
    position: absolute;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.14);
    display: none;
    z-index: 1;
}
.issue-container > .issue-details > .issue-type-container > .issue-type-list > .issue-type-item, .issue-container > .issue-details > .issue-priority-container > .issue-priority-list > .issue-priority-item {
    padding: 5px;
    cursor: pointer;
}
.issue-container > .issue-details > .issue-type-container > .issue-type-list > .issue-type-item:hover, .issue-container > .issue-details > .issue-priority-container > .issue-priority-list > .issue-priority-item:hover {
    background-color: #efefef;
}
.issue-comments-section {
    margin: 20px 0 60px;
    padding: 20px;
    background-color: #f0f0f0;
}
.issue-comments-section > .comments-counter > i {
    font-size: 30px;
    color: #999;
}
.issue-comments-section > .comments-counter > span {
    vertical-align: top;
    position: relative;
    top: 4px;
    left: 7px;
}
.issue-comments-section > .comments-list > .comment-item  {
    margin-bottom: 5px;
}
.issue-comments-section > .comments-list > .comment-item > .comment-item-head {
    font-size: 13px;
    color: #999;
    font-style: italic;
}
.issue-comments-section > .comments-list > .comment-item > .comment-item-head > .comment-item-author {
    display: inline;
}
.issue-comments-section > .comments-list > .comment-item > .comment-item-head > .comment-item-created {
    float: right;
}
.issue-comments-section > .comments-list > .comment-item > .comment-item-body {
    border: solid 1px #ddd;
    background-color: #fff;
    padding: 7px 10px;
}
.issue-comments-section > .comments-list > .comment-item > .comment-item-body > span {
    display: inline-block;
}
.issue-comments-section > .comments-list > .comment-item > .comment-item-body > div {
    text-align: right;
}
.issue-comments-section > .comments-list > .comment-item > .comment-item-body > div > i {
    cursor: pointer;
    color: #ce0000;
}
