body {
    background-color: #323639;
}
.login-container {
    border: 1px solid #e3e3e3;
    box-shadow: 0 5px 30px 0 #000000;
    padding: 20px;
    margin: 100px auto 0px;
    background-color: #fff;
    width: 23%;
    min-width: 300px;
}
.banner-container {
    margin-bottom: 10px;
}
.banner-container > img {
    width: 100%;
}
.login-container > h3 {
    margin-bottom: 20px;
}
.login-container > .errors > ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}
.username-field-container, .password-field-container {
    margin-bottom: 10px;
}
.action-field-container {
    margin-top: 30px;
}
.action-field-container > a {
    float: right;
    margin: 10px 5px 0px;
}
