body {
    background-color: #fafafa;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}
.message {
    max-width: 500px;
    position: fixed;
    top: 0;
    left: calc(50% - 250px);
    z-index: 900;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    display: table;
    opacity: 0;
}
.message > .message-icon {
    position: relative;
    top: 2px;
    display: table-cell;
    padding-right: 8px;
}
.message > .message-icon > i {
    font-size: 20px;
    text-align: center;
}
.message > .message-content {
    padding: 0;
    display: table-cell;
}
.page-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0,0,0,0.85);
    display: none;
}
.page-modal-container > .page-modal {
    width: 300px;
    height: auto;
    background-color: #fff;
    position: absolute;
    top: calc(40% - 100px);
    left: calc(50% - 150px);
    z-index: 1001;
}
.page-modal-container > .page-modal > .page-modal-header {
    width: 100%;
    height: 30px;
    background-color: #666;
    text-align: center;
}
.page-modal-container > .page-modal > .page-modal-header > .page-modal-title {
    padding: 5px;
    color: #fff;
}
.page-modal-container > .page-modal > .page-modal-header > i {
    color: #999;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}
.page-modal-container > .page-modal > .page-modal-body {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px;
    display: table;
}
.page-modal-container > .page-modal > .page-modal-body > .page-modal-icon {
    display: table-cell;
    padding-right: 15px;
    width: 35px;
}
.page-modal-container > .page-modal > .page-modal-body > .page-modal-icon > i {
    font-size: 35px;
}
.page-modal-container > .page-modal > .page-modal-body > .page-modal-message {
    display: table-cell;
    vertical-align: middle;
}
.page-modal-container > .page-modal > .page-modal-footer {
    width: 100%;
    border-top: solid 1px #dedede;
    text-align: center;
    padding: 2px;
}
.page-modal-container > .page-modal > .page-modal-footer > button {
    width: 85px;
}
.page-modal-container > .page-modal > .page-modal-progress-bar-container {
    width: 100%;
    height: auto;
    padding: 20px;
    display: none;
}
a {
    text-decoration: underline;
}
label {
    margin-bottom: 0px;
}
label > span {
    color: #dc3545;
}
.container {
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.form-control {
    border: solid 1px #dedede;
    border-radius: 0;
    font-size: 14px;
}
.btn {
    color: #fff !important;
    border: 0;
    border-radius: 0;
    padding: 7px 20px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}
.btn:focus {
    box-shadow: none;
}
.alert {
    border-radius: 0;
    padding: 7px 10px;
}
.badge {
    border-radius: 0;
    padding: 4px 5px;
}
.search {
    width: 300px;
}
.search > .btn {
    position: absolute;
    top: 1px;
    right: 1px;
    padding: 7px 8px 4px;
    background-color: #fff;
    margin: 0;
}
.search > .btn > i {
    color: #999;
    font-size: 18px;
}
.pagination {
    font-size: 15px;
    margin: 5px 0;
}
.pagination > .pagination-item {
    color: #007bff;
    border: solid 1px #dedede;
    border-right: 0;
    width: 30px;
    height: 31px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 4px 11px;
}
.pagination > .pagination-item:first-child {
    width: auto;
}
.pagination > .pagination-item:last-child {
    border-right: solid 1px #dedede;
    background-color: #fff;
    width: auto;
}
.pagination > .pagination-item:hover {
    background-color: #efefef;
}
.pagination > .current-page {
    color: #fff;
    background-color: #007bff;
    border: 0;
    cursor: default;
}
.pagination > .current-page:hover {
    background-color: #007bff;
}
.pagination > .disabled {
    color: #bebebe;
    cursor: not-allowed;
    background-color: #efefef !important;
}
.drawer {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: #fafafa;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    height: 100%;
    width: 500px;
    margin-top: 56px;
    padding: 20px;
    overflow-x: auto;
    display: none;
}
.drawer > .drawer-spinner-container {
    text-align: center;
    height: 100%;
}
.drawer > .drawer-spinner-container > .btn {
    color: #666 !important;
    font-size: 20px;
    cursor: default;
    position: relative;
    top: calc(50% - 80px);
}
.drawer > .drawer-spinner-container > .btn > .spinner-border {
    width: 40px;
    height: 40px;
}
.drawer > .drawer-spinner-container > .btn > span:last-child {
    vertical-align: top;
    position: relative;
    top: 5px;
    left: 5px;
}
