body {
    background-color: #323639;
}
.register-container {
    border: 1px solid #e3e3e3;
    box-shadow: 0 5px 30px 0 #000000;
    padding: 20px;
    margin: 50px auto 0px;
    background-color: #fff;
    width: 25%;
    min-width: 300px;
}
.register-container > h3 {
    margin-bottom: 20px;
}
.register-container > .errors > ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}
.firstname-field-container, .lastname-field-container, .email-field-container, .username-field-container, .password-field-container, .confirm-password-field-container, .registration-code-field-container {
    margin-bottom: 10px;
}
.action-field-container {
    margin-top: 30px;
}
.action-field-container > a {
    float: right;
    margin: 10px 5px 0px;
}
