.sidebar {
    color: #fff;
    width: 240px;
    background-color: #323639;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    margin: 56px 0 0 0;
    padding: 10px 0;
}
.sidebar-item {
    margin: 3px 0;
}
.sidebar-item > a {
    width: 100%;
    text-align: left;
    margin: 0;
    padding: 12px 20px;
}
.sidebar-item > .selected {
    background-color: rgba(255,255,255,0.14);
}
.sidebar-item > a:hover {
    background-color: rgba(255,255,255,0.14);
}
.sidebar-item > a > i {
    font-size: 20px;
    margin-right: 25px;
    vertical-align: top;
    width: 20px;
    text-align: center;
    color: #9e9e9e;
}
