.topbar {
    height: 56px;
    background-color: #fafafa;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    max-width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
}
.logo-container {
    height: 56px;
    float: left;
}
.logo-container > img {
    height: 100%;
}
.current-user-container {
    float: right;
}
.current-user-container > a {
    padding: 10px 10px 9px;
    text-align: center;
    margin: 0;
}
.current-user-container > a > div {
    color: #666;
    font-size: 18px;
    position: relative;
    top: 5px;
    vertical-align: top;
    margin: 0 10px 0 7px;
    display: inline-block;
}
.current-user-container > a > i {
    font-size: 35px;
    color: #666;
}
.topbar-options {
    background-color: #fff;
    position: fixed;
    top: 50px;
    right: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 16px 24px 2px rgba(0, 0, 0, 0.14);
    display: none;
}
.topbar-options > a {
    text-decoration: none;
    color: #666 !important;
    font-size: 15px;
    padding-right: 80px;
    padding-left: 15px;
}
.topbar-options > a > i {
    font-size: 21px;
    vertical-align: bottom;
    margin-right: 15px;
}
