.users-container {
    display: flex;
    flex-wrap: wrap;
}
.user-counter {
    margin-bottom: 5px;
}
.user-item {
    border: solid 1px #dedede;
    background-color: #fff;
    cursor: pointer;
    display: table;
    padding: 7px;
    margin: 0 10px 10px 0;
    width: 300px;
}
.user-item:hover {
    background-color: #efefef;
}
.user-profile-image {
    font-size: 55px;
    line-height: 54px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 60px;
    padding: 0 10px 0 5px;
}
.user-profile-image > i {
    color: #999;
    width: 54px;
    height: 54px;
}
.user-info {
    display: table-cell;
    vertical-align: middle;
}
.user-fullname {
    font-size: 15px;
    font-weight: 700;
    word-break: break-all;
}
.user-fullname > i {
    font-size: 15px;
    margin-left: 5px;
    color: #2c8837;
}
.user-username {
    font-style: italic;
    color: #666;
    word-break: break-all;
}
.user-email {
    color: #2c8837;
    word-break: break-all;
}
